@model MyModels.Employee
@{
    ViewBag.Title = "Edit";
}
<div>
    <form method="post">
        <label>FirstName</label><br>
        <input type="text" name="FirstName" value="@Model.FirstName" /><br>

        <label>LastName</label><br>
        <input type="text" name="LastName" value="@Model.LastName" /><br>

        <label>Age</label><br>
        <input type="number" name="Age" value="@Model.Age" /><br>

        <label>Salary</label><br>
        <input type="text" name="Salary" value="@Model.Salary" /><br>

        <label>Email</label><br>
        <input type="text" name="Email" value="@Model.Email" /><br>

        <label>Phone</label><br>
        <input type="text" name="Phone" value="@Model.Phone" /><br>

        <input type="submit" value="Submit" />
        <p>@ViewBag.Message</p>
    </form>
</div>