@model List<MvcEmployeesApp.Models.Employee>
@{
    ViewBag.Title = "ByName";
}

<form method="get" class="search-form">
    <div class="search-bar-with-label">
        <label class="search-label">Search By</label>
        <div class="search-bar">
            <select id="Employees" name="searchBy" class="mySelect custom-select mr-2">
                <option @(ViewBag.mod.SearchBy == "Id" ? "selected" : "") value="Id">Id</option>
                <option @(ViewBag.mod.SearchBy == "FirstName" ? "selected" : "") value="FirstName">FirstName</option>
                <option @(ViewBag.mod.SearchBy == "LastName" ? "selected" : "") value="LastName">LastName</option>
                <option @(ViewBag.mod.SearchBy == "Age" ? "selected" : "") value="Age">Age</option>
                <option @(ViewBag.mod.SearchBy == "Position" ? "selected" : "") value="Position">Position</option>
            </select>
            <input type="text" name="searchValue" value="@ViewBag.mod.SearchValue" class="form-control mr-2" />
            <input type="submit" value="Search" class="btn btn-danger">
        </div>
    </div>
    <div class="btn-a">
        <a href="/Home/AddEdit">+ Add</a>
    </div>
    <div class="table-div">
        <table class="myTable table table-striped">
            <tr>
                <th>
                    ID
                    <button name="OrderBy" value="ascId" class="btn"><i class="fa fa-chevron-up"></i></button>
                    <button name="OrderBy" value="descId" class="btn"><i class="fa fa-chevron-down"></i></button>
                </th>
                <th>
                    First Name
                    <button name="OrderBY" value="ascFirst" class="btn"><i class="fa fa-chevron-up"></i></button>
                    <button name="OrderBY" value="descFirst" class="btn"><i class="fa fa-chevron-down"></i></button>
                </th>
                <th>
                    Last Name
                    <button name="OrderBY" value="ascLast" class="btn"><i class="fa fa-chevron-up"></i></button>
                    <button name="OrderBY" value="descLast" class="btn"><i class="fa fa-chevron-down"></i></button>
                </th>
                <th>
                    Age
                    <button name="OrderBY" value="ascAge" class="btn"><i class="fa fa-chevron-up"></i></button>
                    <button name="OrderBY" value="descAge" class="btn"><i class="fa fa-chevron-down"></i></button>

                </th>
                <th>
                    Position
                    <button name="OrderBY" value="ascPosition" class="btn"><i class="fa fa-chevron-up"></i></button>
                    <button name="OrderBY" value="descPosition" class="btn"><i class="fa fa-chevron-down"></i></button>

                </th>
                <th>Control</th>
            </tr>
            @foreach (var emp in Model)
            {
                <tr class="mytr" onclick="location.href = '/Home/Details/@emp.Id'">
                    <td>@emp.Id</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Age</td>
                    <td>@emp.Position</td>
                    <td>
                        <a href="/Home/AddEdit/@emp.Id" class="btn btn-danger">Edit</a>
                        <a href="/Home/Remove/@emp.Id" data-target="" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</form>